<div class='intro'>
	<h1 class='intro__hed'>{{meta.title}}</h1>
	<p class='intro__dek'>{{meta.description}}</p>
	<p class='intro__byline'>By
		<a href='{{meta.author.url}}' target='_blank'>
			<strong>{{meta.author.name}}</strong>
		</a>
	</p>
	<div class="intro__columns">
		<div class="intro__prelude">
			{{#each copy.prelude}}
				<p>{{value}}</p>
			{{/each}}
			<p id="designer_total"></p>
			<a class="button" href="https://erickgavin7.typeform.com/to/VovMzb4T"> Take our Survey</a>
		</div>
		<div class="intro__map">
			<div class="intro__map__inner"></div>
		</div>
	</div>
</div>
<svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
	<path fill="#0099ff" fill-opacity="1" d="M0,128L60,122.7C120,117,240,107,360,117.3C480,128,600,160,720,176C840,192,960,192,1080,181.3C1200,171,1320,149,1380,138.7L1440,128L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z">
	</path>
</svg>
